// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
th {
  font-size: 1.5em;
  background-color: #2d4c69;
  color: #ffd700;
}
td {
  font-size: 1em;
}